h2 {
  display: block;
  margin: 50px;
  padding: 10px;
  color: black;
  font-weight: bold;
  position: relative;
}
h2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #e74c3c;
  transition: 1.25s;
  z-index: -1;
}h2:hover:before {
  width: 100px;
}
.quote {
  margin: 10px;
  width: 300px;
  height: 200px;
  background-color: red;
  border-radius: 30px;
  position: relative;
}
.quote:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50px;
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}