html{
    font-size: 62.5%;
}
body{
    margin: 0px;
    padding: 0;
    font-family: "Poppoins",sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: #F2F3F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    box-sizing: border-box;
}
.signup{
    padding: 90px 75px;
    background-color: white;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
}
.signup_heading{
    font-size: 4rem;
    font-weight: bold;
    color: #373941;
    text-align: center;
    margin-bottom: 3.5rem;

}
.signup-social{
    padding: 1rem;
    border-radius: 2rem;
    display: block;
    width: 100%;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    font-family: "Poppoins",sans-serif;
    background-color: #4c6ff4;
    border: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    box-shadow:  0 5px 10px 0 rgba(76,111,244,0.5);

}
.signup-social-icon{
    width: 6rem;
    height: 6rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    color: #4c6ff4;
    font-size: 3rem;
}
.signup-social-text{
    display: flex;
    margin: 0 auto;
}
.signup-or{
    text-align: center;
    font-size: 2rem;
    color: #999;
    margin: 55px auto;
    position: relative;
}
.signup-or span{
    display: inline-block;
    padding: 10px 30px;
    background-color: #fff;
    position: relative;
    z-index: 2;
}
.signup-or:after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%);
}
.signup-label{
    font-size: 1.6rem;
    color: #373941;
    margin-bottom: 1rem;
    display: inline-block;
    cursor: pointer;
}
.signup-input{
    display:block;
    width: 100%;
    padding: 25px;
    border-radius: 20px;
    background-color: #f2f4f5;
    border: 0;
    font-size: 18px;
    margin-bottom: 30px;
    outline: 0;
}
.signup-submit{
    padding: 25px;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    display: inline-block;
    border-radius: 20px;
    width: 100%;
    background-color: rgb(130, 201, 30);
    font-family: "Poppoins",sans-serif;
    font-weight: 600;
    cursor: pointer;
    box-shadow:  0 5px 10px 0 rgba(130, 201, 30,0.5);
    margin-top: 25px;
    margin-bottom: 15px;

}
.signup-already{
    text-align: center;
    font-size: 16px;

color: #999
;}
.signup-login-link{
    color: #1979ff;
    text-decoration: none;
}