html{
    font-size: 62.5%;
}
body{
    font-family: "Monterrat",sans-serif;
}
.plant-details{
    width: 80rem;
    min-height: 60rem;
    background: #aedba5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.plant-details__container{
    background-color: #ffffff;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);
}
.plant-details__header{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
}
.plant-details__back{
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
}
/* .plant-details__back a {
    text-decoration: none;
} */
.plant-details__back span{
    margin-left: 1.5rem;
    
}
.plant-details__like{
    color: #999;
    font-size: 2rem;
}
.plant-details__content > div{
    padding: 4rem;
}
.plant-details__content{
    display: flex;
}
.plant-details__image{
    width: 40%;
    
}
img{
    max-width: 100%;
}
.plant-details__info{
    width: 60%;
    border-left: 1px solid #eee;
}
.plant-details__title{
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
    margin-bottom: 0.5rem;
}
.plant-details__category{
    text-transform: uppercase;
    color: #999;
    display: block;
    margin-bottom: 2rem;
}
.plant-details__price{
    font-size: 2rem;
    color: black;
    display: block;
    margin-bottom: 2rem;
}
.plant-details__desc{
    font-style: 1.4rem;
    line-height: 1.6rem;
    color: #999;
    margin-bottom: 2rem;
}
.plant-details__button{
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #999;
    border: 1px solid currentColor;
    padding: 1rem 3rem;
    min-width: 15rem;
    font-size: 1.4rem;
}
.plant-details__button:first-of-type{
    margin-right: 1rem;
}