html {
  font-size: 62.5%;
}
body {
  margin: 0px;
  padding: 0;
  font-family: "Monterrat", sans-serif;
  background: black;
  position: relative;
}
.header {
  background-color: #fff;
}
.header__inner {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  max-width: 15rem;
}
img {
  max-width: 100%;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  margin: 0 1rem;
}
.menu__item:hover .menu__child {
  opacity: 1;
  visibility: visible;
}
.menu__child {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.menu__child-item {
  width: 25%;
}
.menu__child-item h4 {
  color: white;
  font-size: 1.4rem;
  padding: 2rem;
  background: #00aefd;
}
.menu__child-list li {
  padding: 1.5rem;
  border-top: 1px solid #eee;
}
.menu__link {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  display: inline-block;
  padding: 2rem;
}
